/*-----------Footer------------*/

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
  //background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
  font-family: 'Rubik', sans-serif;
  //background: #455A64;
  height: 100 !important;
}


.container-fluid_1 {
  overflow: hidden;
  //margin-top: 250px ;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.bold-text {
  color: #989c9e !important;
}


.mt-55 {
  margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important;
}


h3 {
  font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
}







/*-----------Footer-end------------*/
.cart {
  width: 64px;
  height: 64px;
  display: block;
  position: fixed;
  overflow: hidden;
  top: 50%;
  right: 0%;
  background-color: var(--popular-color);
  border-radius: 100%;
  z-index: 10000000000;
}

.cart .icoCart {
  position: relative;
}

.cart .icoCart lottie-player {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 54px;
  height: 54px;
}

.icoCart .badgecart {
  position: relative;
  top: 10px;
  left: 40px;
}