<div class="container">
        <div class=" text-center mt-5 ">

            <h1 >Edit product</h1>
                            
        </div>

    
    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
       
                <div class = "container">
                    <form method="POST" action="/products/{{product._id}}?_method=PUT" id="contact-form" role="form">

                    

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">Product name *</label>
                                        <input value="{{product.name}}" id="name" type="text" name="name" class="form-control" placeholder="Please enter product name product *">
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Product description *</label>
                                        <textarea id="description" name="description" class="form-control" placeholder="Please enter product description *">{{product.description}}</textarea>
                                                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Price </label>
                                        <input value="{{product.price}}" id="price" type="text" name="price" class="form-control" placeholder="Please enter product price *">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                


                                <div class="col-md-12">
                                    
                                    <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                                        mt-2" value="Lưu lại" >
                                
                            </div>
                    
                            </div>


                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!-- /.8 -->

    </div>
    <!-- /.row-->

</div>
</div>

{{!--  rows="4" required="required" data-error="Please, leave us a message." --}}