@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.wrapper_ite {
  border-radius: 0 !important;
}

:root {
  --popular-color: #00b3a0;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.txt_while {
  color: rgb(0, 0, 0);
}

.student-profile .card {
  border-radius: 10px;
}

.wrapper_ite .dis_flc .dis_flcite {
  background-color: rgba(233, 236, 239, 0) !important;
}

.dis_flc {
  display: flex;
  justify-content: center;
}

.wrapper_gt1 {
  height: 180px;
  background-color: var(--popular-color) !important;
}

a {
  color: #000;
}

.color_po {
  color: #00b3a0 !important;
}

.hover_color:hover {
  color: #00b3a0 !important;
}

.top_menu {
  height: 70px;
}

.wrapper_sp1 {
  margin-top: 20px;
}

.wrapper_sp2 {
  margin-top: 20px;
  height: 180px;
}

.wrapper_sp1 .bre_sp {
  background-color: rgba(233, 236, 239, 0) !important;
}

.wrapper_sp1 .bre_sp .sizebre {
  font-size: 25px;
}

.bg_f2f2f2 {
  background-color: #f2f2f2 !important;
}

.pagi_sp {
  margin-right: 28px;
  margin-top: 36px;
  display: flex;
  justify-content: center;
}

/*breadcrumb
.droptoggleSP {
    width: 278px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 2px solid #dc3545;
    font-weight: 600;
}

.droptoggleSP:focus {
    box-shadow: none !important;
}

.droptoggleSP::after {
    display: none;
}

.ddmenuSP {
    width: 278px;
    border: 2px solid #F44336;
    padding: 0rem 0;
    transform: translate3d(0px, 50px, 0px) !important
}

.dd-itemSP:focus,
.dd-itemSP:hover {
    color: #ffffff;
    background-color: #dc3545;
    padding: 12px;
}

.dd-itemSP {
    display: block;
    width: 100%;
    padding: 12px;
}*/
/***************/
/*#search {
    outline: none;
    border: none;
    display: inline-block;
}

#burgundy {
    color: rgb(153, 40, 59);
}*/
#orange,
.selectSP,
.btn_spindex {
  color: #00b3a0;
}

/*
.fasearchsp {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 3px;
    padding-right: 20px
}

.seanaitem {
    height: 40px;
}

.nav_sp_index {
    padding: 0px 100px;
}

.fa-user-o,
.fa-shopping-cart {
    font-size: 20px;
    padding: 4px;
}
*/
.forgroup {
  margin-bottom: 5px;
}

.lalSPin {
  padding-left: 10px;
}

.forgroup:last-child {
  margin-bottom: 0;
}

.h6SPin {
  margin-bottom: 0px;
}

#sort {
  outline: none;
  border: none;
}

/*
.btn {
    border: 1px solid orange;
    border-radius: 10px;
    background-color: #fff;
}

.btn:hover {
    color: #fff;
    background-color: orange
}

.card-body {
    padding: 8px
}

.sign {
    width: 25px;
    height: 25px
}

.discount {
    border: 1px solid orange;
    border-radius: 5px;
    width: 65px;
    position: absolute;
    top: 2%
}*/
@media (min-width: 1200px) {
  /*#search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }

    .search-nav-item {
        margin-left: 400px;
        width: 350px
    }

    .fa-user-o {
        margin-left: 300px
    }

    .text {
        display: none
    }

    .fa-user-o,
    .fa-shopping-cart {
        font-size: 20px;
        padding-left: 20px
    }*/
  #sidebar {
    width: 30%;
    padding: 20px;
    float: left;
  }
  /*
    .card {
        width: 300px;
        height: 330px;
        border: none
    }

    .card-img-top {
        width: 295px;
        height: 200px;
        border-radius: 10px
    }

    del {
        padding-right: 2px;
    }*/
  .filter,
#mobile-filter {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /*#search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }

    .search-nav-item {
        margin-left: 200px;
        width: 350px
    }

    .fa-user-o {
        margin-left: 160px
    }

    .text {
        display: none
    }*/
  #sidebar {
    width: 30%;
    padding: 20px;
    float: left;
  }
  /*
      .card {
          width: 200px;
          height: 330px;
          border: none
      }

      .card-img-top {
          width: 200px;
          height: 200px;
          border-radius: 10px
      }

      .fa-plus,
      .fa-minus {
          font-size: 12px
      }

      .sign {
          height: 25px
      }

      .price {
          width: 99px
      }
  */
  .filter,
#mobile-filter {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /*#search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }

    .search-nav-item {
        margin-left: 60px;
        width: 350px
    }

    .fa-user-o {
        margin-left: 80px
    }

    .text {
        display: none
    }*/
  #sidebar {
    width: 35%;
    padding: 20px;
    float: left;
  }
  /*
      .card {
          border: none
      }
  */
  .filter,
#mobile-filter {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /*.text {
        display: none
    }

    .search-nav-item {
        margin-left: 35px;
        width: 270px
    }

    #search {
        width: 240px;
        padding: 5px;
        padding-left: 20px
    }

    .fa-search {
        padding: 3px;
        font-size: 18px
    }*/
  #sidebar {
    width: 40%;
    padding: 20px;
    float: left;
  }
  /*
      .card {
          border: none
      }

      #off {
          padding-left: 2px
      }

      #sorting span,
      #res {
          font-size: 14px
      }
  */
  .filter,
#mobile-filter {
    display: none;
  }
}
@media (max-width: 575px) {
  /*.search-nav-item {
        margin: 0;
        width: 100%;
        margin-top: 10px
    }

    #search {
        width: 80%;
        padding-left: 10px;
        margin-top: 10px;
        padding-right: 10px
    }

    .fa-search {
        padding: 10px;
        font-size: 18px
    }*/
  #sidebar {
    display: none;
  }
  .filter {
    margin-left: 70%;
    margin-top: 2%;
  }
  /*
    #sorting,
    #res {
        font-size: 12px;
        margin-top: 2%
    }*/
}
/*poduct*/
.height-100 {
  height: 100vh;
}

.card_podu {
  width: 100%;
  border: none;
  height: 250px;
  max-width: 380px;
  overflow: hidden;
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: center;
  transition: all ease 0.4s;
  animation: chuyendongproduc 1.2s forwards;
}

@keyframes chuyendongproduc {
  from {
    opacity: 0;
    margin-left: -200px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
.card_podu img {
  transition: all ease 0.4s;
}

.card_podu:hover img {
  margin-top: -80px;
}

.card_podu .content {
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: -60%;
  margin-left: -8px;
  transition: all ease 0.5s;
  border-radius: 4px;
  box-shadow: 0px -3px 4px rgba(10, 10, 10, 0.09);
}

.card_podu .content .category {
  font-size: 17px;
  font-weight: 600;
}

.card_podu .content .price {
  font-size: 17px;
  font-weight: 500;
  color: #0d6efd;
}

.card_podu .content p {
  font-weight: 500;
  font-size: 12px;
}

.card_podu:hover .content {
  bottom: 0%;
}

.buttons button {
  border-radius: 1px;
  margin-bottom: 10px;
  transition: all ease 0.3s;
}

.content {
  padding: 10px;
}

.tearea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--popular-color);
}

.tearea .h3pos {
  padding: 20px 0;
}

.tearea .seeall {
  position: relative;
  color: var(--popular-color) !important;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}

.container {
  position: relative;
}

.container .card {
  position: relative;
  width: 200px;
  height: 300px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 0 30px 0px;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  content: "Nike";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}

.container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container .card .imgBx img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 135px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx h4 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  font-size: 1em;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover {
  background: #9bdc28;
}

.container .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3) {
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4) {
  background: #e91e63;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

.space {
  margin-top: 6em;
  width: 100%;
  height: 10em;
}

.container_all {
  display: flex;
}

.btn_menu {
  color: #03a9f4;
  display: flex;
  flex-direction: row-reverse;
  margin: 0px 20px 10px 0px;
}

.btn_menu:hover {
  color: #ffffff;
}

.tearea {
  margin: 0 0 0 0;
}

.lottie {
  display: flex;
  position: absolute;
  top: 70px;
  left: 660px;
  width: 165px;
}

.space_product {
  margin-top: 2em;
  width: 100%;
  height: 10em;
}

a {
  color: black;
}

a:hover {
  color: #0d6efd;
}

/*# sourceMappingURL=sanpham.css.map */
